<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card units-card" >
                <img class="card-img-top units-card-image" src="/assets/HQForceOrgIcon.PNG" alt="HQ">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Unit</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr (click)="test()" *ngFor="let unit of (units$ | async)">
                        <td>{{ unit.value.name }}</td>
                        <td>test</td>
                      </tr>
                      <tr>
                        <td>test2</td>
                        <td>2</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>

        <div class="col-md-4">

              <div class="card units-card" >
                <img class="card-img-top units-card-image" src="/assets/TroopForceOrgIcon.PNG" alt="Troop">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

        </div>

        <div class="col-md-4">

            <div class="card units-card" >
              <img class="card-img-top units-card-image" src="/assets/EliteForceOrgIcon.PNG" alt="Elite">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

      </div>
    </div>
</div>