<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ag-grid-angular
        style="width: 100%; height: 600px;"
        class="ag-theme-alpine"
        [rowData]="unitsData"
        [columnDefs]="columnDefs"
        [frameworkComponents]="frameworkComponents"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
  <div class="row">
    <div class="col md 12">
      <button class="btn btn-primary btn-lg mt-2" style="margin-left:45%" (click)="openAddModal()" type="button">Add Unit</button>
    </div>
  </div>
</div>      


