<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="">Factions</a></li>
    <li class="breadcrumb-item"><a href="collection-armies/{{factionIDParam}}">Armies</a></li>
    <li class="breadcrumb-item active" aria-current="page">Units</li>
  </ol>
</nav>

<div class="p-0 faction-Background-img background-Warhammer">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <ag-grid-angular
          style="width: 100%; height: 600px;"
          class="ag-theme-alpine mt-5"
          [rowData]="unitsData"
          [columnDefs]="columnDefs"
          [frameworkComponents]="frameworkComponents"
          (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
    <div class="row">
      <div class="col md 12">
        <button class="btn btn-primary btn-lg mt-2" style="margin-left:45%" (click)="openAddModal()" type="button">Add Unit</button>
      </div>
    </div>
  </div>
</div>      



