<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Faction
    <span class="caret"></span></button>
      <div class="dropdown-menu">
        <button class="dropdown-item" 
        type="button" 
        *ngFor="let faction of factions | keyvalue"> 
        {{faction.value.name}} </button>
      </div>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-outline-primary dropdown-toggle" 
    type="button" 
    data-toggle="dropdown">
    Armies</button>

    <div *ngIf="!showArmyInput">
    <button 
      (click)="onAddArmy()"
      class="btn btn-outline-secondary">
      <i class="fas fa-plus"></i>
    </button></div>

    <div *ngIf="showArmyInput">
      <input  
      type="text" 
      class="form-control col-md-4">
    </div>
    
    <div class="dropdown-menu">
      <button class="dropdown-item" 
      type="button" 
      *ngFor="let army of armies | keyvalue"> 
      {{ army.value.name }} </button>
    </div>
  </div>
</div> 

