<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Faction</li>
  </ol>
</nav>

<div class="row">
    
  <div class="col-md-4 p-0 faction-Background-img"
    style="background-image: url(/assets/Imperium_Background.jpg);">
    <a [routerLink]="['/collection-armies', 1]"><button class="btn-faction">
      <img src="/assets/Imperial_Eagle.png" alt="ImperialEagle" class="btn-faction-img">
      <h2>
        Imperium
      </h2>
    </button></a>
  </div>
  
  <div class="col-md-4 p-0 faction-Background-img"
    style="background-image: url(/assets/Chaos_Background.jpg);">
    <a [routerLink]="['/collection-armies', 2]"><button class="btn-faction">
      <img src="/assets/Icon_Of_Chaos.jpg" alt="IconOfChaos" class="btn-faction-img">
      <h2>
        Chaos
      </h2>
    </button></a>
  </div>

  <div class="col-md-4 p-0 faction-Background-img"
    style="background-image: url(/assets/Xenos-Background.jpg);">
    <a [routerLink]="['/collection-armies', 3]"><button class="btn-faction">
      <img src="/assets/Xenos_icon.jpg" alt="XenosIcon" class="btn-faction-img">
      <h2>
        Xenos
      </h2>
    </button></a>
  </div>
  
</div>


  